<%= form_for(@drug) do |f| %>
  <% if @drug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drug.errors.count, "error") %> prohibited this drug from being saved:</h2>

      <ul>
      <% @drug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_key %><br>
    <%= f.text_field :name_key %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :phase %><br>
    <%= f.text_field :phase %>
  </div>
  <div class="field">
    <%= f.label :last_modified %><br>
    <%= f.datetime_select :last_modified %>
  </div>
  <div class="field">
    <%= f.label :change_date %><br>
    <%= f.datetime_select :change_date %>
  </div>
  <div class="field">
    <%= f.label :added_date %><br>
    <%= f.datetime_select :added_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
