<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Name key:</strong>
  <%= @drug.name_key %>
</p>

<p>
  <strong>Company:</strong>
  <%= @drug.company %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @drug.phase %>
</p>

<p>
  <strong>Last modified:</strong>
  <%= @drug.last_modified %>
</p>

<p>
  <strong>Change date:</strong>
  <%= @drug.change_date %>
</p>

<p>
  <strong>Added date:</strong>
  <%= @drug.added_date %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
