<p id="notice"><%= notice %></p>
<h1>Results</h1>

<div class="result-list">
<% if @response.length > 0 %>
<% @response.each do |item| %>
  <% if item.is_a?(Array) %>

  <table id="drugTable" class="table table-inverse table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Clinical Phase</th>
        <th>Company</th>
        <th>Technology</th>
      </tr>
    </thead>

    <tbody>
      <% item.each do |sub_item| %>
        <tr>
          <th><%= link_to "#{sub_item['name']}", profile_drugs_path(:name => sub_item["id"]) %></th>
          <th><%= sub_item["phaseHighest"] %></th>
          <th><%= sub_item["CompanyOriginator"] %></th>
          <% if sub_item["Technologies"]["Technology"].is_a?(Array) %>
           <th>
          <% sub_item["Technologies"]["Technology"].each do |tech| %>
          <%= tech %>,
          <% end %>
          </th>
          <% else %>
          <th><%= sub_item["Technologies"]["Technology"] %></th>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <% if item.is_a?(Hash) %>
      <div class="result-data">
        <table id="drugTable" class="table table-inverse table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Clinical Phase</th>
              <th>Company</th>
              <th>Technology</th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <th><%= link_to "#{item['name']}", profile_drugs_path(:name => item["id"]) %></th>
                <th><%= item["phaseHighest"] %></th>
                <th><%= item["CompanyOriginator"] %></th>
                <% if item["Technologies"]["Technology"].is_a?(Array) %>
                 <th>
                <% item["Technologies"]["Technology"].each do |tech| %>
                <%= tech %>,
                <% end %>
                </th>
                <% else %>
                <th><%= item["Technologies"]["Technology"] %></th>
                <% end %>
              </tr>
          </tbody>
        </table>
    </div>
    <% end %>
  <% end %>
<% end %>
<% else %>
There were no matches. Please press the back link below and do a search again.
<% end %>
</div>
<%= link_to 'Back', drugs_path, class: 'btn btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-info' %>
</div>

