<h1>Patient Data</h1>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @patient.zip %>
</p>

<p>Symptoms</p>
<ul>
<% multiple = false %>
<% query_str = "" %>
<% @patient.symptoms.each do |s| %>
  <li>
    <%= s.name %>
    <% if !multiple %>
     <% query_str = "indicationsPrimary:" + s.name.gsub(/\s/,'%20') %>
     <% multiple = true %>
    <% else %>
    <% query_str = query_str + "%20AND%20indicationsPrimary:%20" + s.name.gsub(/\s/, '%20') %>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'Generate', result_drugs_path(:name => query_str, :count => 10), class: 'btn btn-primary' %> 
<%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-default' %>
<%= link_to 'Back', patients_path, class: 'btn btn-success' %>
<%= link_to 'Home', root_path, class: 'btn btn-info' %>
