<h1>Patient Data</h1>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @patient.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @patient.zip %>
</p>

<p>Symptoms</p>
<ul>
<% @patient.symptoms.each do |s| %>
  <li>
    <%= s.name %>
  </li>
<% end %>
</ul>
<%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-default' %>
<%= link_to 'Back', patients_path, class: 'btn btn-success' %>
<%= link_to 'Home', root_path, class: 'btn btn-info' %>
